    nav :hover {
        color: yellow;

    }
    img{
        border-radius: 250px;
        
        
    }
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      color: #222;
    }
    header {
      background: #111;
      color: #fff;
      padding: 20px;
      text-align: left;
    }
    nav a {
      color: #fff;
      margin: 0 15px;
      text-decoration: none;
      font-size: 16px;
    }
    .section {
      padding: 60px 20px;
      max-width: 900px;
      margin: auto;
    }
    #about h2{
        color: #111S;
    }
    #about {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      padding: 40px;
      background-color:grey;
      color: #fff;
    }
    #skills ul {
      list-style: none;
      padding: 0;
    }
    #skills li {
      background: #fff;
      padding: 12px;
      margin: 8px 0;
      border-radius: 8px;
      box-shadow: 0 0 6px rgba(0,0,0,0.1);
      background-color:grey;
      color: #fff;
    }
    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      color: #fff;
      
    }
    .project-card {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      background-color:grey;
    }
    footer {
      text-align: center;
      padding: 20px;
      background: #111;
      color: #fff;
      margin-top: 40px;
    }